@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.partners-container {
  overflow: hidden;
  padding: 20px 0;
  background: transparent;
  white-space: nowrap;
  position: relative;
}
 .partners-title{
  color: #1C273D;
 }
.partners-container::before,
.partners-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  z-index: 2;
}

.partners-container::before {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.partners-container::after {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}
::placeholder {
  color: gray !important; /* Placeholder rangini o'zgartirish */
  opacity: 1; /* Ba'zi brauzerlarda to‘liq ko‘rinishi uchun */
}

.partners-scroll {
  display: inline-block;
  animation: scroll 40s linear infinite;
  animation-delay: 2s;
  position: relative;
}

.partner-logo {
  display: inline-block;
  margin: 0 40px;
}

.partner-logo img {
  width: 150px;
  transition: transform 0.3s ease;
}

.partner-logo img:hover {
  transform: scale(1.1);
}
.modal {
  display: none; /* Boshlang'ich holatda yashirilgan */
  position: fixed; /* Ekranda qotib qoladi */
  z-index: 999; /* Boshqa elementlardan ustun bo'ladi */
  left: 0;
  top: 0;
  width: 100%; /* Butun ekran eni */
  height: 100%; /* Butun ekran balandligi */
  overflow: auto; /* Agar kontent katta bo'lsa, skroll qilish imkoniyati */
  background-color: rgb(0,0,0); /* Fon rangi */
  background-color: rgba(0,0,0,0.4); /* Shaffof qora fon */
}
.modalparent {
  display: flex;
  justify-content: center; /* Gorizontal markazlash */
  align-items: center; /* Vertikal markazlash */
  height: 100%; /* Modal oynani butun balandligini egallash */
}

/* Modal oyna kontenti */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Kontentning kengligi */
  max-width: 500px; /* Maksimal kenglik */
  border-radius: 10px;
  position: relative;
  margin: 0; 
}
.rd-mailform{
  position: relative;
}
/* Yopish tugmasi */
.close {
  position: absolute;
  top: -10%;
  right: 0;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}