@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.partners-container {
  overflow: hidden;
  padding: 20px 0;
  background: transparent;
  white-space: nowrap;
  position: relative;
}
 .partners-title{
  color: #1C273D;
 }
.partners-container::before,
.partners-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  z-index: 2;
}

.partners-container::before {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.partners-container::after {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}
::placeholder {
  color: gray !important; /* Placeholder rangini o'zgartirish */
  opacity: 1; /* Ba'zi brauzerlarda to‘liq ko‘rinishi uchun */
}

.partners-scroll {
  display: inline-block;
  animation: scroll 40s linear infinite;
  animation-delay: 2s;
  position: relative;
}

.partner-logo {
  display: inline-block;
  margin: 0 40px;
}

.partner-logo img {
  width: 150px;
  transition: transform 0.3s ease;
}

.partner-logo img:hover {
  transform: scale(1.1);
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}
.modalparent {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%; 
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 500px; 
  border-radius: 10px;
  position: relative;
  margin: 0; 
}
.rd-mailform{
  position: relative;
}
.close {
  position: absolute;
  top: 2%;
  right: 2%;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.form-group input,textarea {
  margin: 0 !important;
  border: 1px solid #ccc; /* Default border */
  outline: none;
  background-color: transparent;

  font-family: 'Montserrat', sans-serif !important;
}

/* Agar input to'ldirilgan va yaroqli (valid) bo'lsa */
.form-group input:not(:placeholder-shown):valid {
  border-color: #ccc; /* Default border rang */
}

/* Agar input to'ldirilmagan yoki yaroqsiz (invalid) bo'lsa */
.form-group input:invalid {
  border-color: red; /* Qizil rang */
}

/* Agar input to'ldirilmagan bo'lsa (lekin fokusda bo'lmasa) */
.form-group input:required:not(:focus):placeholder-shown {
  border-color: #ccc; /* Default border rang */
}

/* Agar input to'ldirilmagan va fokusda bo'lsa */
.form-group input:required:focus:placeholder-shown {
  border-color: red; /* Qizil rang */
}
textarea::placeholder {
  color: #808080; /* O'zingiz xohlagan rang */
  font-family: 'Montserrat', sans-serif !important;
  opacity: 1; /* Ba'zi brauzerlarda rangni to‘liq ko‘rsatish uchun */
}
/* .form-group input{
  margin: 0 !important;
  border: none ;
  outline: none;
  background-color: transparent; 
}
.form-group input:not(:placeholder-shown):valid {
  border: 1px solid #ccc !important;
}
.form-group input:invalid {
  border: 1px solid red;
} */

/* 
.modal {
  display: none; 
  position: fixed;
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalparent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: red; */
/* } */

/* .modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal:target {
  display: block;
}

.modalparent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.close:hover {
  color: red;
} */